{{!-- post new instrument--}}
<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="instrument-name">Instrument Name</label>
            <input type="text" id="instrument-name" name="post-title"/>
        </div>
        <div>
            <label for="brand-name">Brand Name</label>
            <input id="brand-name" name="brand-name"/>
        </div>
        <div>
            <label for="price">Price</label>
            <input id="price" name="price"/>
        </div>

        <div id="container">
              <input type="file" id="myFile" name="filename">
              <input type="submit" id="submit">
        </div>
    </form>
</section>


<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/js/add-post.js"></script>