<h1>You are now on the homepage!</h1>
<ol class="instrument-post-life">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="{{instrument_post_url}}" target="_blank">{{title}}</a>
                <span>({{instrument_post_url}})</span>
            </div>
            <div class="meta">
            </div>
        </article>
    </li>
    {{/each}}
</ol> 